:root {
    --COL-REACTION: hsl(0, 100%, 67%);
    --COL-MEMORY: hsl(39, 100%, 56%);
    --COL-VERBAL: hsl(166, 100%, 37%);
    --COL-VISUAL: hsl(234, 85%, 45%);
    /* Gradients */
    --COL-RESULT-BG-TOP: hsl(252, 100%, 61%);
    --COL-RESULT-BG-BOTTOM: hsl(241, 81%, 54%);
    --COL-CIRCLE-BG-TOP: hsla(256, 72%, 46%, 1);
    --COL-CIRCLE-BG-BOTTOM: hsla(241, 72%, 46%, 0);
    /* BG and text colors */
    --COL-WHITE: hsl(0, 0%, 100%);
    --COL-PALE-BLUE: hsl(221, 100%, 96%);
    --COL-LIGHT-LAVANDER: hsl(241, 100%, 89%);
    --COL-BUTTON: hsl(224, 30%, 27%);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

ul {
    list-style-type: none;
}

.component {
    border-radius: 0 0 32px 32px;
    box-shadow: 10px 10px 24px 4px var(--COL-PALE-BLUE);
    width: 100%;
}

.result {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    background-image: linear-gradient(var(--COL-RESULT-BG-TOP), var(--COL-RESULT-BG-BOTTOM));
    border-radius: 0 0 32px 32px;
    color: var(--COL-LIGHT-LAVANDER);
    padding: min(5vw, 2rem) 1rem 2rem 1rem;
}

.result__title {
    font-size: min(5vw, 1.3rem);
    font-weight: 700;
    color: #c6bbee;
    margin-bottom: min(5vw, 1.2rem);
}

.result__circle {
    width: min(40vw, 11rem);
    height: min(40vw, 11rem);
    background-color: var(--COL-CIRCLE-BG-TOP);
    background: linear-gradient(var(--COL-CIRCLE-BG-TOP), var(--COL-CIRCLE-BG-BOTTOM));
    border-radius: 50%;
    margin-bottom: min(3.2vw, 1.4rem);
}

.result__score {
    padding-top: min(10vw, 2.1rem);
    font-size: min(15vw, 4rem);
    font-weight: 800;
    line-height: 1.1;
    color: var(--COL-PALE-BLUE)
}

.result__maxScore {
    font-size: min(4.5vw, 1rem);
    color: hsl(221, 100%, 96%, 0.35);
}

.result__kudos {
    font-size: min(6vw, 1.7rem);
    color: var(--COL-PALE-BLUE);
    margin-bottom: min(1.5vw, 0.5rem);
}

.result__stats {
    font-size: min(4.5vw, 1rem);
    line-height: 1.25;
    color: #bebbc7;
    padding-inline: 1.9rem;
}

.summary {
    padding: min(4.5vw, 2rem) min(8vw, 2.2rem) min(4vw, 2.5rem) min(8vw, 2.2rem);
}

.summary__title {
    color: var(--COL-BUTTON);
    padding-block: 0.2rem min(1.5vw, 0.5rem);
    font-size: min(5vw, 1.3rem);
    font-weight: 600;
}

.iconAndDetail {
    display: flex;
}

.iconAndDetail>* {
    margin-right: 0.5rem;
}

ul {
    padding: 0;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.79rem 0.83rem;
    margin: 0.9rem 0;
    border-radius: 8px;
    font-size: min(4.5vw, 1rem);
    font-weight: 600;
}

.yourScore {
    color: var(--COL-BUTTON);
}

.yourScore:after {
    content: " / 100";
    color: gray;
}

.red {
    background-color: hsla(0, 100%, 67%, 0.05);
}

.orange {
    background-color: hsla(39, 100%, 56%, 0.05);
}

.green {
    background-color: hsla(166, 100%, 37%, 0.05);
}

.blue {
    background-color: hsla(234, 85%, 45%, 0.05);
}

.reaction {
    color: var(--COL-REACTION)
}

.memory {
    color: var(--COL-MEMORY)
}

.verbal {
    color: var(--COL-VERBAL)
}

.visual {
    color: var(--COL-VISUAL)
}

.summary__button {
    color: var(--COL-PALE-BLUE);
    width: 100%;
    padding-block: 0.8rem;
    background-color: var(--COL-BUTTON);
    border: none;
    border-radius: 20rem;
    margin-top: min(2vw, 1.4rem);
}

.summary__button:is(:hover, :focus) {
    background-color: var(--COL-CIRCLE-BG-TOP);
    background: linear-gradient(0deg, var(--COL-CIRCLE-BG-TOP), var(--COL-RESULT-BG-BOTTOM));
    cursor: pointer;
}

@media screen and (min-width: 640px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .component {
        display: flex;
        border-radius: 24px;
        max-width: 42rem;
        margin-inline: auto;
        margin-top: 10rem;
    }

    .component>* {
        width: 100%;
    }

    .result {
        border-radius: 24px;
    }

    .result__circle {
        padding-top: 0.7rem;
    }

    .result__title {
        margin-bottom: 1.6rem;
    }

    .result__kudos {
        margin-block: 0.2rem 0.5rem;
        font-weight: 600;
    }
}